<html>
    <body>
        <form action="/new" method="POST">
            <h2>Input Your Bla bla</h2>
            <label for="name">
                Name: 
                <input type="text" name="name" id="name">
            </label>
            <label for="message">
                <input type="text" name="message" id="message">
            </label>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>